@{
  Layout = "_Layout";
}

<div class="jumbotron text-center">
  <h1>Welcome to Epicodus University!</h1>
</div>
<div class="text-center">
  <div class="btn-group btn-group-lg" role="group" aria-label="Large button group">
    <button type="button" class="btn btn-outline-dark">@Html.ActionLink("View all students", "Index", "Students")</button>
    <button type="button" class="btn btn-outline-dark">@Html.ActionLink("View all courses", "Index", "Courses")</button>
    <button type="button" class="btn btn-outline-dark">@Html.ActionLink("View all departments", "Index", "Departments")</button>
  </div>
</div>
<hr />
<div>
  <img src='~/img/background.jpg' class="img-fluid" alt="background img" />
</div>