@{
  Layout = "_Layout";
}

<div class="jumbotron text-center">
  <h1>Welcome to Epicodus University!</h1>
</div>

<h4>@Html.ActionLink("View all students", "Index", "Students")</h4>
<h4>@Html.ActionLink("View all courses", "Index", "Courses")</h4>

<div>
  <img src='~/img/background.jpg' class="img-fluid" alt="background img" />
</div>