@{
  Layout = "_Layout";
}

<h1>Welcome to Epicodus University!</h1>

<h4>@Html.ActionLink("View all students", "Index", "Students")</h4>
<h4>@Html.ActionLink("View all courses", "Index", "Courses")</h4>