@{
  Layout = "_Layout";
}

@model UniversityRegistrar.Models.Course

<h2>Are you sure you want to delete @Html.DisplayFor(model => model.Name)?</h2>

@using (Html.BeginForm())
{
  <button type="submit" class="btn btn-danger">Delete</button>
}
@Html.ActionLink("Back to List", "Index")